:root {
    font-family: "Norse Bold";

    box-sizing: border-box;
}

body{
    margin: 0;
}

.hero {
    height: 100vh;
    width: 100vw;

    display: flex;
}

.leftside {
    width: 30%;
    height: 100%;

    overflow: hidden;
    flex: 4;

    position: relative;
}

.leftside>img {
    height: 100%;
}

.banner {
    text-align: center;
    font-weight: bold;
    color: white;

    display: flex;
    justify-content: center;
    width: 100%;

    position: absolute;
    top: 20%;

    background-color: rgba(0, 0, 0, 0.445);

}

.banner>img {
    width: 20%;
}

.banner>h1 {
    font-size: 40px;
}

.rightside {
    height: 100%;
    padding-left: 30px;
    flex: 6;

    display: flex;
    flex-direction: column;

    background-color: rgb(247, 246, 246);
}

.CTA {
    font-weight: 600;
}

.CTA>p:nth-child(1) {
    margin-top: 10vh;
    text-align: left;

    font-size: 25px;

}

.CTA>p:nth-child(2) {
    font-size: 25px;
    padding: 15px 0px;
}

.form-container {
    background-color: white;
    box-shadow: 0 2px 5px rgb(163, 163, 163);
    margin: 30px 0;

    margin-left: -30px;

    padding: 30px 0px 30px 30px;
}

.form-container>div>span {
    font-weight: bold;
    font-size: 22px;
}

form {
    display: flex;
    flex-direction: column;
}

.name, .contact, .pass {
    display: flex;
    gap: 10vw;
}

form>div>p {
    display: flex;
    flex-direction: column;

    font-size: 12px;
}

input {
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 5px rgb(163, 163, 163);
}

#pass:invalid, #confirmPass:invalid {
    border: 1px solid red;
}

.final-section {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: white;

    border-radius: 8px;
    padding: 10px 50px;

    background-color: #596D48;
    border: 1px solid #596D48;
    box-shadow: 2px 2px 5px rgb(163, 163, 163);
}

button:hover {
    cursor: pointer;
}

.final-section>span {
    padding-top: 30px;
}

.final-section>span>a {
    text-decoration: none;
    color: #596D48;
}